{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Empresa Software Daniel's NopAinNogain<br />
    Rua dos Monstos, 0<br />
    <abbr title="Telefone">Tel:1170707070</abbr>
    05647978654-545
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suportemarombeiro@mutante.com">Suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketingmarombeiro@mutante.com">Marketing@example.com</a>
</address>

{% endblock %}
